<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WriteLog" value="true"/>
    <add key="Info" value="true"/>
    <add key="Error" value="true"/>
    <add key="Debug" value="true"/>
    <!--LogPath : System.AppDomain.CurrentDomain.BaseDirectory  站台根目錄-->
    <add key="LogPath" value=""/>
  </appSettings>
</configuration>